@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Effet*/

.fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
}

.fade-in-left.active {
    animation: fade-in-left 1.5s ease forwards;
  }

.fade-in-right {
    opacity: 0;
    transform: translateX(50px);
  }
  
  .fade-in-right.active {
    animation: fade-in-right 1.5s ease forwards;
  }

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }}


body {
    font-family: "Roboto", sans-serif;

}

.divfirstscreen {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(/background/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logonavbar {

    width: 120px !important;
    height: 120px !important;
}

.textnavbar {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 400 !important;
    font-family: 'Roboto', sans-serif !important;
}

.contactnavbar {
    width: 144px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid #000000;
    background: #E0CEB8;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
    color: #000000;
    font-family: 'Roboto', sans-serif !important;
    font-size: 25px;
    font-weight: 400 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto !important;

}

a {
    text-decoration: none !important;
    color: rgb(0, 0, 0) !important;
}

.div1 {
    width: 90%;
    height: 50%;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;


}

/* DIV1 */


h1 {
    position: relative;
    z-index: 100;
    font-size: 65px !important;
    font-weight: 700 !important;
    color: #000000;

}

span {
    color: #D78967;
}

.div1droite {
    position: relative;

}

.figure {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 260px;
    height: 550px;
    background-color: rgba(215, 137, 103, 0.35);
    transform: rotate(-35.02deg);
    filter: blur(150px);
}

.photodiv1A_container,
.photodiv1B_container {
    position: relative;

}

.photodiv1B_container {
    padding-left: 25%;
}




.text_overlay1 {
    position: absolute;
    top: 0;
    margin-top: 75%;


    transform: translateX(-50%);
    /* Pour recentrer le texte */
    z-index: 100;
    font-weight: 700;
    text-align: center;
    width: 198px;
    background: #E4E1DA;
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
    border-radius: 25px;
    /* Coins arrondis pour le conteneur de texte */
    padding: 5px;
    /* Espacement du texte par rapport à l'image */
    white-space: nowrap;
    /* Empêche le texte de passer à la ligne */

}

.text_overlay2 {
    position: absolute;
    top: 0;
    margin-top: 75%;
    margin-left: 70%;

    z-index: 100;
    font-weight: 700;
    text-align: center;
    width: 198px;
    background: #E4E1DA;
    padding: 5px;
    /* Espacement du texte par rapport à l'image */
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0);
    border-radius: 25px;
    /* Coins arrondis pour le conteneur de texte */
    white-space: nowrap;
    /* Empêche le texte de passer à la ligne */

}


.photodiv1A {

    position: relative;
    /* Assurez-vous que photodiv1 est positionnée */
    z-index: 2;
    /* Assurez-vous que photodiv1 soit au-dessus de .figure */
    width: 240px;
    height: 240px;
    margin-bottom: 10%;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.photodiv1B {

    position: relative;
    /* Assurez-vous que photodiv1 est positionnée */
    z-index: 2;
    /* Assurez-vous que photodiv1 soit au-dessus de .figure */
    width: 240px;
    height: 246px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}


/*second screen*/
.divsecondscreen {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 110vh;
    background-image: url(/background/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 55px !important;
    font-weight: 700 !important;
    text-align: center;
}

h3 {
    font-weight: 700 !important;
}

.divsecondscreenmain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
    padding-left: 10%;
    padding-right: 10%;

}

.photodelajustice {
    width: 350px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.divsecondscreenright {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

/*third screen*/

.divthirdscreen {
    padding-top: 5%;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(/background/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.divthirdscreenmain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 0%;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.divthirdscreenleftphoto {
    width: 469px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
    margin-left: 2%;
}
h5 {
    font-size: 35px!important;
    text-align: center;
    font-weight: 700 !important;
    text-align: center;
    color : #909090 !important;  
    margin-top: 2%!important;
}

/*fourth screen*/
.divfourthscreen {
    padding-top: 1%;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    background-image: url(/background/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.divfourthscreenmain1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;

}

.divfourthscreenmain1leftphoto {
    width: 358px;
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

.divfourthscreenmain1right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}